@font-face {
    font-family: 'droid';
    src: url('idroid.otf') format('opentype');
}

body{
    background-color: #c5ebd6;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
header{
    text-align: center;
    background-image: linear-gradient(to top, rgb(1, 27, 1), rgb(27, 190, 27));
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    min-width: 150px;
    height: 150px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    

}
header > h1{
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 5px 0px black;
}
header > h3{
    text-shadow: 2px 5px 0px black;
    padding: 10px;
    text-align: center;
    padding-bottom: 50px;   
}
main{
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}
article{
    padding: 15px;
}
article > p{
    text-indent: 25px;
    font-weight: 1em;
    line-height: 2em;
}
article > h2{
    color: rgb(1, 27, 11);
    font-family: 'droid', sans-serif;
}
article > h3{
    color: rgb(1, 27, 5);
    background-image: linear-gradient(to right, rgb(47, 218, 47), white);
    font-family: 'droid', sans-serif;
    padding-left: 10px;
}
.marcador{
    color: rgb(9, 92, 9);
    font-weight: bolder;
}
.lapis{
    color: rgb(1, 24, 1);
    background-color: lightgreen;
    font-weight: bolder;
}

.video{
    background-color: #011B01;
    padding: 20px;
    margin: 0px -35px;
    position: relative;
    padding-bottom: 61%;
}
div > iframe{
    position: absolute;
    top: 10%;
    left: 10%;

    width: 80%;
    height: 80%;
}
div{
    margin: auto;
    background-color: rgb(54, 240, 116);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 10px black;
}
div > h3{
    color: white;
    background-color: darkgreen;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div > p{
    text-indent: 30px;
    padding: 10px;
}

.espaco{
    padding: 10px;
}
nav{
    background-color: #011B01;
    padding: 10px; 
}
nav > a{
    
    color: #34ca59;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    
}
a:hover{
    background-color: darkgreen;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.list{
    columns: 2;
    list-style-type: '\1F5F8\00A0'; 
}
article > img{
    width: 100%;
    margin: 0px;
}
.logo{
    width: 50%;
    display: block;
    margin: auto;
}
.andro{
    
    margin: auto;
    width: 100%;
}
.woman{
    display: block;
    margin: auto;
    width: 100%;
}
footer{
    
    text-align: center;
    background-color: #011B01;
    color: white;
    padding: 2px;
}



