@font-face {
    font-family: 'joker';
    src: url('Vampire\ Wars.ttf') format('truetype');
}
@font-face {
    font-family: 'padrao';
    src: url('billie\ eilish.ttf') format('truetype');
}

:root{
    --cor1: #3C349B;
    --cor2: #2F21C5;
    --cor3: #00357B;
    --cor4: #004B5C;
    --cor5: #0093B4;

    --font-destaque: 'joker';
    --font-principal: 'padrao'


}

body{
    background-color: var(--cor4);
}
main{
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

    min-width: 250px;
    max-width: 1000px;
    background-color: rgb(215, 215, 221);
}
h1{
    font-family: var(--font-destaque);
    text-align: center;
    font-size: 3em;
}
p{
    font-family: var(--font-principal);
    font-size: 1.3em;
}
img{
    width: 100%;
}