@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

 :root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sriracha", cursive;
       

}

body{
    margin: 0px;
    min-height: 100vh;
    background-color: darkgray;
    
}
header{
   
    height: 250px;
    padding-top: 1px;
    background-color: black;
}
header > h1{
    color: white;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}
header > p{
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin-top: -25px;
    
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    

}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    letter-spacing: 2px;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 3vw;

}
.normal{
    background-color: white;


}
.imagem{
    background-color: cyan;
    color: white;
}
.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.637);
}
#joaninha{
    background-image: url('imagens/background001.jpg');
    background-position: center center;
}
#folha{
    background-image: url('imagens/background002.jpg');
    background-position: center center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
}