

body{
    margin: 0px;
    
}
header{
   
    height: 250px;
    padding-top: 1px;
    background-color: black;
}
header > h1{
    color: white;
    padding-top: 15px;
    text-align: center;
    font-size: 4em;
}
header > p{
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin-top: -25px;
    
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    

}
a:hover{
    text-decoration: underline;
}

article{
    padding-left: 30px;
}

section{
    max-width: 550px; 
    width: 100%;
    


}
section > p{ 
    font-size: 3.5em;
    text-align: justify;
}

.sombra{
   background-color: rgba(224, 220, 220, 0.671);
   padding: 10px;
}
