

body{
    margin: 0px;
}
header{
    height: 250px;
    padding-top: 1px;
    background-color: black;
}
header > h1{
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 4em;
}
header > p{
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin-top: -25px;
    
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    

}
a:hover{
    text-decoration: underline;
}
#container{
    padding-left: 30px;
    padding-top: 50px;
    
}
#conteudo{

    padding: 5px;
    max-width: 450px;
    max-height: 300px;
    font-size: 3.5em;
    
}
.conteudo > p{
    text-align: justify;
    
    
    
}
