


:root{
    --lightBlue: #8bf6fc;
    --darkBlue: #4ac4ca;
    --offcanvasTitle: #0a68d3;
    --offcanvasBtn: #1388f9;
    --marcas: purple;

    --cor1: #002f81;
    --cor2: #123f93;
    --cor3: #254ea6;
    --cor4: #375eb8;
    --cor5: #496dca;
}

/* stylo globais  */

.espacamento-title{
    margin: 80px 0px;
}
.acabou{
    opacity: .2 !important;
    /* filter: grayscale(80%);  */
}
.acabou:hover{
    opacity: 1 !important;
}

.space-around-card{
    display: flex;
    justify-content: space-around;
}
.space-around-card .card{
    margin-bottom: 20px;
}

.marcas{
    color: var(--marcas);
    font-weight: bold;
    font-size: 1.1rem;
}
.active{
    background-color: var(--cor1);
}




/* fades of the cards */

.fade-out-active{
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    /* here solved */
}

.positionAbsolute{
    position: absolute;
    /* left: 100%; */
}

.fade-in-active{
    opacity: 1;
    visibility: visible;
    transition: .8s ease-in;
}


/* STYLO DO OFFCANVAS */
.offCanvasTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--offcanvasTitle);
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px black;

}
.myOffCanvas ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    

}
.myOffCanvas ul li{
    border: 1px solid black;
    height: 35px;
    width: 140px;
    background-color: var(--offcanvasBtn);
    opacity: 0.6;
}
.myOffCanvas ul li:hover{
    opacity: 1;

}

.myOffCanvas ul li a{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.1rem;

}


#offcanvas-body{
    padding: 0%;
}

.aviso-offcanvas{
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: red;
    display: none;
}

.btn-offcanvas{
    display: flex;
    justify-content: center;
}

.btn-offcanvas button{
    max-width: 350px;
    width: 100%;
    height: 50px;
    background-color: var(--offcanvasTitle);
    color: white;
    font-weight: bold;
    border: 1px solid black;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px black;
    
}

.espacamento-header{
    height: 250px;
}

.espacamento-header .estrutura-title{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0;
}

/* SESSÕES (PAGES) */

/* area oleos */
#area-oleos{
    display: none;
}


/* sessao filtros OLEO */
#area-filtros{
    display: none;
}


/* SESSAO FLUIDO FREIO */
#area-oleo-freio{
    display: none;
}


/* SESSAO FILTROS COMBUSTIVEL */
#area-filtro-combus{
    display: none;
}

/* SESSAO FILTROS DE AR */
#area-filtro-ar{
    display: none;
}


/* sistema de direcao */
#area-sistema-direcao{
    display: none;
}


/* SISTEMA DE SUSPENSAO */
#area-sistema-suspensao{
    display: none;
}


/* SISTEMA DE FREIOS */
#area-sistema-freios{
    display: none;
}

/* SISTEMA IGNIÇÃO */
#area-sistema-ignicao{
    display: none;
}

/* SISTEMA CARGAS */
#area-sistema-carga{
    display: none;
}

/* SISTEMA PARTIDA */
#area-sistema-partida{
    display: none;
}

/* ARREFECIMENTO */
#area-arrefecimento{
    display: none;
}

/* SISTEMA COMBUSTIVEL */
#area-combustivel{
    display: none;
}

/* AREA TRANSMISSAO */
#area-transmissao{
    display: none;
}

/* AREA RODAGEM */
#area-rodagem{
    display: none;
}

/* ESCAPAMENTOS */
#area-escapamento{
    display: none;
}



/* Footer */
footer{
    height: 500px;
    width: 100%;
    margin-top: 5rem;
    background-image: linear-gradient(to top, var(--cor2), var(--cor3), white);
}

#row-footer{
    text-align: center;
    width: 100%;
    padding-top: 8rem;
    margin: 0;
}
.box-footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    
}


.box-footer h5{ 
    color: #0cc1d5;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    padding-bottom: .6rem;
}

.box-footer p{
    font-size: 1.1rem;
    color: white;
    margin: 0;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}


.developer{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    
}
.aboutMe{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem ;
}

.myName{
    margin: 0;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
}

.icon{
    font-size: 1.6rem;
    color: white;
    transition: 0.4s ease-in-out;
}

.icon:hover{
    transform: scale(1.3);
    color: #0cc1d5;
    text-shadow: 2px 2px 2px black;
}


/* MEDIA QUERIES */

@media (orientation: landscape) and (max-height: 350px){
    .offCanvasTitle{
        display: none;
    }
    .myOffCanvas ul{
        display: none;
    }
    .aviso-offcanvas{
        display: block;
    }
}


/* tablet */
@media (max-width: 768px) {

    /* Stylo global dos cards mobile  */
    .espaco-card .card{
        width: 50%;
    }
    .myOffCanvas ul{
        display: flex;
        flex-wrap: wrap;
    }
    .myOffCanvas ul li{
        opacity: 1;
    }
    #btn-offcanvas{
            font-size: 1rem;
        }

    /* tirando o efeito do notebook */
    .card{
        border: 1px solid black;
        border-radius: 5px;
        cursor: cell;
        transition: .5s;
    }
    .card:hover{
        border: 1px solid black;
        transform: none;
        z-index: 0;
    }
    .fade-out-active{
        opacity: 0;
        visibility: hidden;
        transition: 0s;
        /* here solved */
    }
    
    .positionAbsolute{
        position: absolute;
        /* left: 100%; */
    }
    
    .fade-in-active{
        opacity: 1;
        visibility: visible;
        transition: .8s ease-in;
    }

}

/* estrutura offcanvas para mobile  */
@media (max-width: 570px){

    /* BTNS do OFFCANVAS  */
    .offCanvasTitle{
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--darkBlue);
        font-size: 1.3rem;
        text-shadow: 2px 2px 1px black;
        text-align: center;
    }
    .offcanvas-body{
        width: 100%;
        padding: 0%;
        
    }

    /* diminuindo espaçamento title no mobile  */
    .espacamento-title{
        margin-top: 30px;
    }

    /* FADE IN AND OUT */
    
    .fade-out-active{
        opacity: 0;
        visibility: hidden;
        transition: 0s;
        /* here solved */
    }
    
    .positionAbsolute{
        position: absolute;
        /* left: 100%; */
    }
    
    .fade-in-active{
        opacity: 1;
        visibility: visible;
        transition: .8s ease-in;
    }

    /* NOVA IMPLEMENTAÇÃO DOS BTNS */
    
    .row>*{
        padding-left: 0;
        padding-right: 0;
        padding-top: 2px;
        /* padding-bottom: .3px; */
    }
    
    .card-footer{
        padding: 0;
        width: 100%;
        
    }
    .padraoBtn{
        padding: .3rem .8rem;
        border-bottom-left-radius: 4px;
        /* border-top-left-radius: 0; */
    }
    .btnBuy{
        padding: .3rem .8rem;
        border-bottom-right-radius: 4px;
        /* border-top-right-radius: 0; */

    }

    .btnTxtAplicacoes{
        font-size: 1rem;
    }
    
}


/* tamanho da font do btn para mobile */
@media (max-width: 480px) {
    
    .btn-offcanvas button{
        font-size: 1rem;
    }

    /* stilo do navbar */
    #title-princ{
        margin-left: 10px;
        font-size: 1.3rem;
    } 
    #logo{
        width: 60px;
        height: 60px;
    } 

    /* FADE IN AND OUT */

    .fade-out-active{
        opacity: 0;
        visibility: hidden;
        transition: 0s;
        /* here solved */
    }
    
    .positionAbsolute{
        position: absolute;
        /* left: 100%; */
    }
    
    .fade-in-active{
        opacity: 1;
        visibility: visible;
        transition: .8s ease-in;
    }

    /* sidebar cart shop */
    .cartStructure{
        width: 100vw;
        bottom: 0;
    }

    .activingCart .cartStructure{
        left: calc(100% - 100%);
    }
    
}


@media (max-width: 410px){

    /* BTN OFFCANVAS  */
    .myOffCanvas ul li a{
        font-size: 0.8rem;
    }

    /* FADE IN AND OUT */

    .fade-out-active{
        opacity: 0;
        visibility: hidden;
        transition: 0s;
        /* here solved */
    }
    
    .positionAbsolute{
        position: absolute;
        /* left: 100%; */
    }
    
    .fade-in-active{
        opacity: 1;
        visibility: visible;
        transition: .8s ease-in;
    }

    /* NOVA IMPLEMENTAÇÃO DOS BTNS */

    .card-footer{
        padding: 0;
        width: 100%;
        
    }
    .padraoBtn{
        padding: .3rem .3rem;
        border-bottom-left-radius: 4px;
        /* border-top-left-radius: 0; */
    }
    .btnBuy{
        padding: .3rem .3rem;
        border-bottom-right-radius: 4px;
        /* border-top-right-radius: 0; */

    }

    .btnTxtAplicacoes{
        font-size: 1rem;
    }
    .txtBuy{
        font-size: .9rem;
    }
    .priceBuy{
        font-size: 1rem;
    }
    .btnTxtAplicacoes{
        font-size: 1rem;
    }

}









