*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

/* palheta cores  */
:root{
    --cor1: #009FF5;
    --cor2: #0052F5;
    --cor3: #01B0F5;
    --cor4: #1b58b3;
    --corDropdown:#06bbaf;
    --btnApli: #0688c4;
    --corMontadoras: #06aaf6;
    --corCart: #234d8b;
}
body{
    position: relative;
    overflow-x: hidden;

}


/* stylos globals */
.container{
    padding: 5px 20px;
}

.titles-sessoes{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .3rem;
    text-shadow: 2px 2px 10px black;
    
}

.card-title{
    text-align: center;
    font-weight: 400;
}
.card-text{
    text-align: center;
    font-size: 1rem;
}



.btn-mobile-wrap{
    display: flex;
    justify-content: space-around;
}

.word-shadow{
    color: white;
    text-shadow: 1px 1px 1px black;
}


/* navbar fast */

.dropdown-menu{
    background-color: var(--cor4);
    text-align: center;
}
.dropdown-menu .dropdown-item a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 1px black;
}
.dropdown-menu .dropdown-item:hover > a{
    color: rgb(19, 201, 222);
}

.design-btn{
    max-width: 120px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: var(--corMontadoras);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 15px;
    box-shadow: 2px 3px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}




/* cabecalho */
#navbar{
    position: relative;
    background-color: var(--cor4);
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    

}



#title-princ{
    margin-left: 25px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 2.2rem;
}

.cartPart{
    position: relative;
    cursor: pointer;
}
.qtdPecas{
    background-color: red;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1rem;
    color: white;

    position: absolute;
    left: 40%;
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#cartShop{
    color: white;
    margin-right: 20px;
    text-shadow: 2px 2px 2px black;
    font-size: 2.3rem;
}

#collapsee{
    margin-right: 15px;
    
}
#collapsee a{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#corpo-dropdown{
    background-color: var(--cor1);
}
#corpo-dropdown a{
    text-align: center;
}

/* aside cart shopping */

.cartStructure{
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 8px;
    z-index: 5;
    width: 400px;
    /* height: 90vh; */

    
    transition: .7s ease-in-out;
    background-color: var(--corCart);
    
}

.cartStructure h4{
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-left: 5px;
    margin-bottom: .8rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    letter-spacing: 3px;
    
}

.listCart{
    list-style: none;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    padding-left: 10px;
}
.listCart li{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.imgOfCart{
    width: 65px;
    height: 65px;
}

.listCart li .itemQtd{
    margin-right: 15px;
}
.itemQtd{
    height: 100%;
    display: flex;
    align-items: center;
    gap: .4rem;

}
.itemQtd button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: none;
    font-weight: bolder;
    border-radius: 50%;
    background-color: transparent;
    
}

.itemQtd button:hover{
    background-color: #89cdec;
}
.cartQtdNum{
    font-size: 1.3rem;

}

.checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.checkout div{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.checkout .total{
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.checkout .total .valorCompra{
    font-weight: bold;
    font-size: 1.1rem;
}
.checkout .total .txtCompra{
    font-weight: bold;
    font-size: 1rem;
}

.checkout .closeShopping{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}



.activingCart .cartStructure{
    left: calc(100% - 400px);
}




/* fast search */
#estrutura-fast-src{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0px;
    padding: 10px 0px;
    background-color: #234d8b;
    
}

#estrutura-fast-src li{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.drop-mobile{
    display: none;
}


/* carousel */

#img-carousel{
    height: 75vh;
}


.carousel-caption{
    display: flex;
    flex-direction: column;
    height: 60%;
    
}
.carousel-caption p{
    font-size: 1rem;
    font-weight: bold;
}


.carousel-caption a{
    max-width: 120px;
    width: 100%;
    height: 40px;
    margin: 1rem auto;
    border: none;
    background-color: #234d8b;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;

}
.carousel-caption a:hover{
    background-color: transparent;
    color: var(--cor3);
    border: 2px solid  var(--cor2);
    text-shadow: 1px 1px 1px black;
}

.carousel-caption h5{
    color: white;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
}
.carousel-caption p{
    color: white;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
}


#captions-moura h5{
    color: #f9d003;
    text-shadow: 3px 3px 2px black;    
}
#captions-moura p{
    color: #f9d003;
    text-shadow: 3px 3px 2px black;
}
#captions-moura a{
    max-width: 120px;
    width: 100%;
    height: 40px;
    text-shadow: 1px 1px 1px black;
    background-color: #dec129;
    transition: 0.3s ease-in-out;
}
#captions-moura a:hover{
    border: 2px solid #dec129;
    background-color: transparent;
    color: #dec129;
}






/* CARD STRUCTURE */
.card{
    border: none;
    border-radius: none;
    transition: .6s ease-in-out;
    background-color: transparent;
    z-index: 5;
}

.card:hover{
    border: 1px solid black;
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 2px 2px 10px black;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padraoBtn{
    border: none;
    padding: 0.2rem 1rem;
    background-color: var(--btnApli);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}
.padraoBtn:hover{
    background-color: #032e85;
}

.btnBuy{
    width: 100%;
    border: none;
    padding: 0.2rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--btnApli);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnBuy:hover{
    background-color: #032e85;
}
.btnBuyAlone{
    width: 100%;
    border: none;
    padding: 0.1rem .8rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--btnApli);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.priceBuy{
    color: white;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
    font-size: 1.1rem;
    pointer-events: none;
}
.txtBuy{
    color: white;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
    font-size: 1rem;
    pointer-events: none;
}

.btnTxtAplicacoes{
    color: white;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
    font-size: 1.1rem;
}

.card-footer{
    border: none;
    display: flex;
    justify-content: center;
    background-color: transparent;
}



.modal-body h5{
    display: flex;
    justify-content: center;
}

#lista-aplicacoes{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}


#lista-aplicacoes li{
    font-size: 1.1rem;
}
.montadora{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--corMontadoras);
}
.carro{
    font-weight: bold;
    font-size: 1.1rem;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}

/* toast (produto acabou) */

#liveToast{
    background-color: #f12121;
    color: white;
    height: 65px;
}

.txtToast{
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
/* toast (btn finalizar)  */
#liveToast2{
    background-color: #01B0F5;
    color: white;
    height: 65px;
}

.txtToast2{
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}


/* media do banner moura */
@media(min-width: 1100px){
    #captions-moura{
        max-width: 350px;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 30%;
        left: 15%;
    }
}

/* DIMINUINDO OS BTNS APLICACAO E BUY PARA TABLET */
@media (min-width: 770px ) and (max-width: 990px){
    .padraoBtn{
        padding: 0;
    }
    .btnBuy{
        padding: .2rem .5rem;
    }
}


/* MEDIAS QUERIES BoxBtnsDoFiltro*/
@media (max-width: 768px){
    
    
    /* global */
    .btn-mobile-wrap{
        display: flex;
        flex-wrap: wrap;  
    }
    
    .design-btn{
        margin: 0;
        margin-bottom: 0.8rem;
    }

    /* CARDS OLEOS */
    
    #row-oleos .card img{
        width: 100%;
    }
    
    /* sidebar cart shop */
    .cartStructure{
        width: 380px;
        bottom: 0;
        
    }

    .activingCart .cartStructure{
        left: calc(100% - 380px);

        &.body{
            overflow-y: hidden;
        }
    }


}


@media (max-width: 600px){
    /* NAVBAR */
    #drop-oleo{
        display: none;
    }
    #link-bateria{
        display: none;
    }
    .drop-mobile{
        display: block;
    }

    /* img carousel  */
    #img-carousel{
        height: 60vh;

    }
    .carousel-caption{
        position: absolute;
        top: 20%;
        left: 15%;
    }


}

