


:root{
    --lightBlue: #8bf6fc;
    --darkBlue: #4ac4ca;
    --marcas: purple;
}

/* stylo globais  */

.espacamento-title{
    margin: 80px 0px;
}
.acabou{
    opacity: 0.2;
    
}
.space-around-card{
    display: flex;
    justify-content: space-around;
}
.space-around-card .card{
    margin-bottom: 20px;
}
.marcas{
    color: var(--marcas);
    font-weight: bold;
    font-size: 1.1rem;
}
.active{
    background-color: var(--corBtnActive);
}


.card{
    border: none;
    border-radius: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    
}
.card:hover{
    border: 1px solid black;
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 2px 2px 10px black;
}


/* STYLO DO OFFCANVAS */
.offCanvasTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--darkBlue);
    font-size: 1.8rem;
    text-shadow: 2px 2px 1px black;

}
.myOffCanvas ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    

}
.myOffCanvas ul li{
    border: 1px solid black;
    height: 35px;
    width: 140px;
    background-color: var(--darkBlue);
    opacity: 0.6;
}
.myOffCanvas ul li:hover{
    opacity: 1;

}

.myOffCanvas ul li a{
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
   text-decoration: none;
   font-weight: bold;
   color: white;
   text-shadow: 2px 2px 2px black;
   font-size: 1.1rem;
   

}



#offcanvas-body{
    padding: 0%;
}

.aviso-offcanvas{
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: red;
    display: none;
}

.btn-offcanvas{
    display: flex;
    justify-content: center;
}

.btn-offcanvas button{
    max-width: 350px;
    width: 100%;
    height: 50px;
    background-color: var(--darkBlue);
    color: white;
    font-weight: bold;
    border: 1px solid black;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px black;
    
}

.espacamento-header{
    height: 250px;
}

.espacamento-header .estrutura-title{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0;
}


/* sistema de direcao */
#area-sistema-direcao{
    display: none;
}


/* SISTEMA DE SUSPENSAO */
#area-sistema-suspensao{
    display: none;
}


/* SISTEMA DE FREIOS */
#area-sistema-freios{
    display: none;
}

/* SISTEMA IGNIÇÃO */
#area-sistema-ignicao{
    display: none;
}

/* SISTEMA CARGAS */
#area-sistema-carga{
    display: none;
}

/* SISTEMA PARTIDA */
#area-sistema-partida{
    display: none;
}

/* ARREFECIMENTO */
#area-arrefecimento{
    display: none;
}

/* SISTEMA COMBUSTIVEL */
#area-combustivel{
    display: none;
}

/* AREA TRANSMISSAO */
#area-transmissao{
    display: none;
}

/* AREA RODAGEM */
#area-rodagem{
    display: none;
}

/* ESCAPAMENTOS */
#area-escapamento{
    display: none;
}



/* MEDIA QUERIES */

@media (orientation: landscape) and (max-height: 350px){
    .offCanvasTitle{
        display: none;
    }
    .myOffCanvas ul{
        display: none;
    }
    .aviso-offcanvas{
        display: block;
    }
}


/* tablet */
@media (max-width: 768px) {

    /* Stylo global dos cards mobile  */
    .espaco-card .card{
        width: 50%;
    }
    .myOffCanvas ul{
        display: flex;
        flex-wrap: wrap;
    }
    .myOffCanvas ul li{
        opacity: 1;
    }
    #btn-offcanvas{
            font-size: 1rem;
        }

    /* tirando o efeito do notebook */
    .card{
        border: 1px solid black;
        border-radius: 10px;
        cursor: cell;
        transition: 0.5s ease-in-out;
    }
    .card:hover{
        border: 1px solid black;
        transform: none;
        z-index: 0;
    }

}

/* estrutura offcanvas para mobile  */
@media (max-width: 570px){

    /* BTNS do OFFCANVAS  */
    .offCanvasTitle{
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--darkBlue);
        font-size: 1.3rem;
        text-shadow: 2px 2px 1px black;
        text-align: center;
    }
    .offcanvas-body{
        width: 100%;
        padding: 0%;
        
    }

    /* diminuindo espaçamento title no mobile  */
    .espacamento-title{
        margin-top: 30px;
    }
    
    
}


/* tamanho da font do btn para mobile */
@media (max-width: 480px) {
    
    .btn-offcanvas button{
        font-size: 1rem;
    }

    /* stilo do navbar */
    #title-princ{
        margin-left: 15px;
        font-size: 1.4rem;
    }
    #logo{
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
    
}


@media (max-width: 370px){

    /* BTN OFFCANVAS  */
    .myOffCanvas ul li a{
        font-size: 0.8rem;
    }
}









