*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'roboto-light';
    src: url('font/Roboto-Light.ttf');
}

body{
    font-family: 'roboto-light', sans-serif;
}
/* class row do bootstrap */
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

/* paragrafos e li */
/* p, li{
    color: #444;
    font-size: 14px;
} */

/* navbars */
.cabecalho, .navbar{
    background-color: #353d41;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding: 0%;
    color: white;
}
/* cor do txt do lado do logo  */
.txt_logo{
    color: #ffffff;
}
.navbar-brand:hover{
    color: white;
}
/* links */
#navbar-links a{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}


/* parte do carousel */

#carousel-img{
    height: 90vh;
}
.carousel-caption{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-btn{
    margin-top: 60px;
    background-color: #00c3ff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#indicadores{
    background-color: #01c4ff;
    width: 50px;
    height: 5px;
}

@media (max-width: 500px){
    #indicadores{
        display: none;
    }
    .carousel-caption{
        display: none;
    }
    
}

@media (max-height: 450px) and (orientation: Landscape){
    #indicadores{
        display: none;
    }
    .carousel-caption{
        display: none;
    }
    #carousel-img{
        height: 110vh;
    }
    #company-img{
        height: 100%;
    }
}

/* sobre a hdc agency */

.col-12 h3{
    text-align: center;
    margin-bottom: 30px;
}

#about-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    font-size: 1.1rem;
}
#about-list i{
    margin-right: 10px;
    color: #00c3ff;
    font-size: 1.1rem;
}
#about-list li{
    font-size: 1rem;
}


/* especializacoes da empresa */
.assunto{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
}

#about-title{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.col-md-4 i{
    margin-bottom: 20px;
}
.col-md-4 p{
    font-size: 1rem;
    text-align: center;
}

.col-md-4:hover > i, .col-md-4:hover > h4{
    color: #00c3ff;
}

/* parte de dados da empresa */
.title-dados{
    text-align: center;
    color: white;
    margin-bottom: 60px;
}
.circle-box div{
    padding: 0 40px;
}
.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}
#data-area p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;

}

/* parte do integrantes da empresa */
#lista-inte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#card-inte{
    padding: 0%;
    width: 270px;
    margin-bottom: 25px;
}
#img-inte{
    width: 100%;
}
.card-body{
    text-align: center;
}

/* trabalhe conosco */
.btn-empresa{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 10px 20px;
}
.btn-empresa:hover{
    transition: 0.5s ease-in-out;
    background-color: white;
    color: #008cff;
    border: 2px solid #00c3ff;
}
.apply-area{
    height: 500px;
}
.apply-area .container-fluid, .apply-area .row{
    width: 100%;
    height: 100%;
}
.apply-area .apply-box p{
    color: white;
    font-size: 1.1rem;
}
.apply-area .apply-box h4{
    color: white;
    margin-bottom: 30px;
    margin-top: 60px;
}

#company-img{
    background-image: url('photos/empresa.jpg');
    background-size: cover;
    height: 100%;
}
#pattern-img{
    transform: none;

    
}
.col-md-6.apply-box.segunda{
    text-align: center;
}



@media (max-width: 770px){
    #company-img{
        display: none;
    }
}
@media (max-width: 390px){
    .btn-empresa{
        display: non;
    }
}

/* Portifolio de projetos */

#btns-portifolio{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 50px;
}
.btn-portifolio{
    border: none;
    background-color: #00c3ff;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.btn-portifolio.active{
    background-color: #083ff5;
    color: white;
}

@media (max-width: 470px){
    #btns-portifolio{
        display: flex;
        gap: 0;
    }
}
@media (max-width: 480px){
    #btns-portifolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;
    }
    .btn-portifolio{
        width: 250px;
        display: block;
        margin: auto;
    }
}


/* NewsLetter */

.newsletter{
    text-align: center;
    background-color: #f9f9f9;
}
.newsletter p{
    font-size: 1.1rem;
    margin-bottom: 40px;
}
#form{
    display: flex;
    justify-content: center;
    
}
#email-input{
    height: 50px;
    max-width: 500px;
    width: 100%;
    border-radius: 0%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#news-btn{
    border: none;
    background-color: #00c3ff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
}

/* call to action */
#call-area{
    background-color:  #008cff;
}
#container-call-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
#container-call-action p{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2px;

}
#btn-orca{
    max-width: 120px;
    width: 100%;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #008cff;
}
#btn-orca:hover{
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
}
