*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'roboto-light';
    src: url('font/Roboto-Light.ttf');
}

body{
    font-family: 'roboto-light', sans-serif;
}
/* class row do bootstrap */
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}


/* navbars */
.cabecalho, .navbar{
    background-color: #353d41;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding: 0%;
    color: white;
}

.txt_logo{
    color: #ffffff;
}
.navbar-brand:hover{
    color: white;
}
/* links */
#navbar-links a{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
#box-logo{
    margin-left: 10px;
}
#btn-menu-mobile{
    margin-right: 10px;
}

/* parte do carousel */

#carousel-img{
    height: 90vh;
    width: 100vw;
}
.carousel-caption{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-btn{
    margin-top: 60px;
    background-color: #00c3ff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#indicadores{
    background-color: #01c4ff;
    width: 50px;
    height: 5px;
}

/* sobre a hdc agency */

.col-12 h3{
    text-align: center;
    margin-bottom: 30px;
}

#about-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    font-size: 1.1rem;
}
#about-list i{
    margin-right: 10px;
    color: #00c3ff;
    font-size: 1.1rem;
}
#about-list li{
    font-size: 1rem;
}


/* especializacoes da empresa */
.assunto{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
}

#about-title{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.col-md-4 i{
    margin-bottom: 20px;
}
.col-md-4 p{
    font-size: 1rem;
    text-align: center;
}

.col-md-4:hover > i, .col-md-4:hover > h4{
    color: #00c3ff;
}

/* parte de dados da empresa */
.title-dados{
    text-align: center;
    color: white;
    margin-bottom: 60px;
}
.circle-box div{
    padding: 0 40px;
}
.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}
#data-area p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;

}

/* parte do integrantes da empresa */
#lista-inte{
    display: flex;
    justify-content: space-around;

}

#card-inte{
    padding: 0%;
    margin-bottom: 25px;
}
#img-inte{
    width: 100%;
}
.card-body{
    text-align: center;
}

/* trabalhe conosco */
.btn-empresa{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 10px 20px;
}
.btn-empresa:hover{
    transition: 0.5s ease-in-out;
    background-color: white;
    color: #008cff;
    border: 2px solid #00c3ff;
}
.apply-area{
    height: 500px;
}
.apply-area .container-fluid, .apply-area .row{
    width: 100%;
    height: 100%;
}
.apply-area .apply-box p{
    color: white;
    font-size: 1.1rem;
}
.apply-area .apply-box h4{
    color: white;
    margin-bottom: 30px;
    margin-top: 60px;
}

#company-img{
    background-image: url('photos/empresa.jpg');
    background-size: cover;
    height: 100%;
}
#pattern-img{
    transform: none;

    
}
.col-md-6.apply-box.segunda{
    text-align: center;
}


/* Portifolio de projetos */

#btns-portifolio{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    margin-bottom: 50px;
}
.btn-portifolio{
    border: none;
    background-color: #00c3ff;
    max-width: 100px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.btn-portifolio.active{
    background-color: #083ff5;
    color: white;
}


/* NewsLetter */

.newsletter{
    text-align: center;
    background-color: #f9f9f9;
}
.newsletter p{
    font-size: 1.1rem;
    margin-bottom: 40px;
}
#form{
    display: flex;
    justify-content: center;
    
}
#email-input{
    height: 50px;
    max-width: 500px;
    width: 100%;
    border-radius: 0%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#news-btn{
    border: none;
    background-color: #00c3ff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
}

/* call to action */
#call-area{
    background-color:  #008cff;
}
#container-call-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
}
#container-call-action p{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2px;

}
#btn-orca{
    max-width: 120px;
    width: 100%;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #008cff;
}
#btn-orca:hover{
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
}

/* parte dos contatos */
.text-blue{
    color: #01c4ff;
    font-weight: bold;
}


#msg-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg-box p{
    font-size: 1.2rem;
}
.btn-enviar-mensagem{
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #01c4ff;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    
    width: 120px;
    margin: auto;
    
}
.btn-enviar-mensagem:hover{
    background-color: white;
    color: #01c4ff;
    border: 2px solid #008cff;
}

#linha{
    border-bottom: 2px solid #008cff;
    padding-bottom: 50px;
    padding-bottom: 50px;
}
#linha i{
    border: 1px solid black;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    line-height: 55px;
    text-align: center;
}

#contact-form input[type='text'], #contact-form input[type='email'], #contact-form textarea{
    margin-bottom: 15px;
    border-radius: 0%;
}

/* info desenvolvedor */
#info-desenv{
    text-align: center;
    font-size: 1.1rem;
    
}
#info-desenv a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#info-desenv a:hover{
    text-decoration: underline;
}

/* copy area  */

#container-desenv{
    background-color: #ebe8e8;
    padding-top: 15px;
    padding-bottom: 15px;

}
/* @media (min-width: 678px) and (max-width: 980) */

/* adpatacao para tablet */

@media (max-width: 770px){

    /* carousel  */

    .carousel-inner #carousel-img{
        height: 55vh;
        width: 100%;
    }
    .carousel-indicators #indicadores{
        display: none;
    }

    .carousel-caption h2{
        font-size: 23px;
    }
    .carousel-caption .main-btn{
        font-size: 15px;
        margin-top: 20px;
    }
    .carousel-caption{
        height: 60%;
    }

    /* sobre a hdc agency */
    


    /* area de dados  */
    .circle-box div{
        padding: 10px;
    }

    /* trabalhe conosco */
    #company-img{
        display: none;
    }
    #pattern-img{
        width: 100vw;
        padding: 0;
        background-size: cover;
    }
}
@media (max-width:667px) and (orientation: landscape){
    .carousel-indicators{
        display: none;
    }
    .carousel-caption{
        display: none;
}
}


/* adptacao para mobile  */
@media (max-width: 480px){
    .carousel-inner #carousel-img{
        width: 100vw;
        height: 60vh;
    }

    /* dados da empresa  */
    
    .circle-box div{
        padding: 30px;
    }
    .circle-box p{
        margin: 0px;
    }
    
    /* team  */
    #lista-inte{
        width: 100vw;
    }
    #card-inte{
        width: 50%;
    }

    /* area trabalhe conosco */
    #company-img{
        display: none;
    }

    /* trabalhe conosco */
    #pattern-img{
        width: 100vw;
        padding: 0;
    }

    /* footer  */
    #linha{
        border-bottom: 0;
    }
}
